[Unit]
Description=Edge Door Server
Wants=network-online.target
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/root
ExecStart=/usr/bin/flock -n /run/edge-door-server.lock ./edge-door-server

[Install]
WantedBy=multi-user.target
